@import "tailwindcss";

:root {
  --turaath-green: #007F5F;
  --turaath-gold: #D4AF37;
  --turaath-dark: #064E3B;
  --turaath-light: #EAF4EE;
}

body {
  background-color: var(--turaath-light);
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.text-turaath-green {
  color: var(--turaath-green);
}

.text-turaath-gold {
  color: var(--turaath-gold);
}

.bg-turaath-green {
  background-color: var(--turaath-green);
}

.bg-turaath-gold {
  background-color: var(--turaath-gold);
}
